.contact-area {
    width: 100%;
    height: 60vh;
    background-color: #0D1117;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    color: white;
    font-size: 40px;
}

.head {
    height: 60px;
    width: 40%;
    background-size: cover;
    border-radius: 60px;
    border: 3px solid #00F5D4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 0 40px #00F5D4;
}

.head p {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
}

.search-icon {
    font-size: 25px;
    color: #00F5D4;
}

.contact-box {
    margin: 0 15px;
    width: 100%;
}

.contact-link {
    border-radius: 20px;
    border: 2px solid #00F5D4;
    width: 400px;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.contact-link a, p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

a:hover {
    cursor: none;
}

.contact-link:hover {
    background-color: #00F5D4;
    color: black;
}

.endingGrad {
    width: 100vw;
    height: 80px;
    background-image: linear-gradient(#0D1117, #00F5D4);
}

@media (max-width: 8251px) {
    .head {
        width: 80%;
        padding: 0 15px;
    }

    .head p {
        font-size: 18px;
    }

    .search-icon {
        font-size: 20px;
    }

    .contact-link {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    .contact-link a,
    .contact-link p {
        font-size: 16px;
    }

    .icon {
        font-size: 30px;
    }

    .contact-area {
        height: auto;
        padding: 30px 10px;
    }
}

@media (max-width: 480px) {
    .head {
        width: 95%;
        padding: 0 10px;
    }

    .head p {
        font-size: 16px;
    }

    .contact-link {
        font-size: 14px;
        flex-direction: column;
        align-items: flex-start;
    }

    .icon {
        font-size: 24px;
    }

    .endingGrad {
        height: 60px;
    }
}